In [3]:
# 집합 자료형(set)
# 로또 주머니와 같이 중복을 허용하지 않고 순서가 없는
# 데이터 들의 모임
# 교집합 , 합집합, 차집합 등의 집합 연산을 쉽게 퍼리

s1 = set([1,2,3]) #set()에 값을 넣으면 된다.
print(s1)

{1, 2, 3}

In [4]:
s2 = set("hello") # 순서 다르고 , 중복되면 1개만 출력 , 중복 허용 X ( 데이터의 중복을 제거하기 위한 필터로 사용 )
print(s2)

{'h', 'l', 'e', 'o'}

In [6]:
type(s2)

set

In [7]:
s3 = {"a", "b", "c"} #set을 이용해서 () 괄호안에 값넣어도 되고 , {}중괄호를 사용해서 바로 값을 넣을 수 있다.
print(s3)

{'c', 'a', 'b'}

In [8]:
# 인덱싱으로 적용할 수 가없어서 , 리스트나 튜플로 바꿔 적용해야 인덱스 처리 가능
l1=list(s3)
print(l1)

['c', 'a', 'b']

In [9]:
l1[0]

'c'

In [ ]:
# 교집합 구하기
# 합집합 구하기
# 차집합 구하기

In [ ]:
#집합 자료형 관련 함수

In [ ]:
# 불 자료형
# True , Fales  변수에 두가지의 값만 넣을 수 있다
# True , Fales  변수에 두가지의 값만 넣을 수 있다